body, html {
    margin: auto;
    /* display: flex; */
    flex-direction: column;
    font-family: "Titillium Web";
    background-color: #F1F0F0;
    color: 343333;
}

nav {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 0.5rem;
   /* padding-left: 1rem;
   padding-right: 1rem; */
   margin-right: 0;
   width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

img {
    height: 50vh;
    margin: auto;
}

.link > img {
    height: auto;
}

#text-div {
    text-align: center;
    width: 100%;
}

#nav-header-container {
    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

#nav-header > a {
    text-decoration: none;
    font-family: "Dancing Script";
    font-size: 2rem;
}

/* #nav-item {

} */

#hamburger {
    margin: 0 40 px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    z-index: 100;
    color: black;
}

#toggle {
    display: none;
}

#content {
    padding: 1rem;
}

#top-div {
    display: flex;
    flex-direction: row;
}

#text-div {
    width: 50%;
    padding: 1rem;
}

#footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-self: center;
    justify-content: space-evenly;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    margin: 0;
    background-color: #AA1F27;
}

#content {
    margin: 1rem;
}

#main-image {
    width: 50%;
    height: auto;
    /* height: 100px; */
}

#text-div {
    flex-direction: column;
    justify-content: space-evenly;
    align-self: center;
}

#lowerLinks {
    display: none;
}

#content {
    margin: auto;
}

.item {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #FFFFFF;
    padding: 2rem;
    margin: 2rem;
}

.text > p {
    text-align: center;
    font-size: medium;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    align-self: center;
    padding: 1rem;
    margin: auto;
}

.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #AA1F27;
    color: #F1F0F0;
    border-radius: 1rem;
    /* padding: 0.3rem; */
    width: 30%;
    padding-bottom: 1rem;
    padding-top: 1rem;
    animation: 1s;
}

.link:hover {
    background-color: #D62530;
}

.link > img {
    width: 90%;
}

.link > .icon {
    color: #F1F0F0;
}

.tech, .timeline {
    font-style: italic;
}

.section {
    margin: 2rem;
    display: none;
    flex-direction: column;
}

.selected {
    display: flex;
}

.unselected {
    display: none;
}

.fab, .fas {
    font-size: 2rem;
    color: #F1F0F0;
}

.contact-links {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-self: center;
    justify-content: space-evenly;
}

.contact-link {
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
    width: 100%;
}

.nav-item:hover, a:hover, .button:hover {
    cursor: pointer;
}

.nav-item:hover {
    background-color: #D62530;
}

.button {
    padding: 1rem;
    border-radius: 1rem;
    max-width: 20%;
    background-color: gray;
}

.home-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    width: 80%;
}

.nav-item {
    padding: 0 0.5rem 0;
}

#item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textinfo > h1, .textinfo > h2, .textinfo > h3, .textinfo > h4, .textinfo > p {
    text-align: center;
}

.icon:hover {
    color: #D62530;
}



/* .project {
    
} */

#navbar {
    background-color: #AA1F27;
    align-items: center;
    width: 100%;
}

#about > #top-div {
    margin-bottom: 2rem;
}

#nav-items > a, #nav-header > a {
    color: #F1F0F0;
    font-weight: 800;
}

.text-info {
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media only screen and (max-width: 640px) {
    #hamburger {
        display: block;
        cursor: pointer;
    }

    #navbar {
        flex-direction: column;
        height: 100%;
        padding: none;
        /* width: 100%; */
        justify-content: center;
        align-items: center;
        display: flex;
    }

    #toggle:checked + #nav-items {
        display: flex;
    }
    
    #nav-items {
        display: none;
        flex-direction: column;
        margin: auto;
    }

    #nav-header {
        margin-left: 1rem;
    }

    #top-div {
        flex-direction: column;
        margin: auto;
    }

    #main-image {
        max-width: 80%;
    }

    #project {
        display: flex;
        flex-direction: column;
        align-self: center;
        margin: auto;
    }

    #text-div {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 90%;
        margin: auto;
    }

    #item {
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    #topLinks {
        display: none;
    }

    #lowerLinks {
        display: flex;
    }

    #item-img {
        align-self: center;
    }

    h1, h2, h3, h4, p {
        text-align: center;
        align-self: center;
        margin: auto;
    }

    img, #project-info > img, #work-info > img {
        align-self: center;
        margin: auto;
        width: 80%;
        height: auto;
    }
}

/* for hamburger menu */
@media only screen and (min-width: 640px) {
    #nav-items {
        display: flex;
        flex-direction: row;
    }

    #topLinks {
        display: flex;
    }

    #lowerLinks {
        display: none;
    }
}