body, html {
    margin: 0;
    display: flex;
    flex-direction: column;
}

nav {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 0.5rem;
}

a {
    text-decoration: none;
}

#nav-header {
    text-decoration: none;
}

#hamburger {
    margin: 0 40 px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    z-index: 100;
    color: black;
}

#toggle {
    display: none;
}

#content {
    padding: 1rem;
}

#top-div {
    display: flex;
    flex-direction: row;
}

#text-div {
    width: 50%;
}

#footer {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-self: center;
    justify-content: space-evenly;
    margin: 1.5rem;
}

.tech, .timeline {
    font-style: italic;
}

.section {
    margin: 2rem;
    display: none;
    flex-direction: column;
}

.selected {
    display: flex;
}

.unselected {
    display: none;
}

.fab {
    font-size: 2rem;
}

.contact-links {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-self: center;
    justify-content: space-evenly;
}

.contact-link {
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
    width: 100%;
}

.nav-item:hover, a:hover, .button:hover {
    cursor: pointer;
}

.button {
    padding: 1rem;
    border-radius: 1rem;
    max-width: 20%;
    background-color: gray;
}

.home-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    width: 80%;
}

.nav-item {
    padding: 0 0.5rem 0;
}

/* .project {
    
} */

/* .navbar {
    background-image: linear-gradient()
} */

@media only screen and (max-width: 640px) {
    #hamburger {
        display: block;
        cursor: pointer;
    }

    #navbar {
        flex-direction: column;
        height: 100%;
        padding: none;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #nav-head-container > input[type=checkbox]:checked + #nav-items-v {
        display: flex;
    }

    #toggle:checked {
        display: flex;
    }
    
    #nav-items {
        display: flex;
        flex-direction: column;
    }
}

/* for hamburger menu */
@media only screen and (min-width: 640px) {
    #nav-items-h {
        display: flex;
        flex-direction: row;
    }
}

/* for footer and home section */
@media only screen and (max-width: 850px) {
    #footer {
        flex-direction: column;
        align-items: center;
    }
}