body, html {
    margin: 0;
    display: flex;
    flex-direction: column;
}

nav {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 0.5rem;
}

nav > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
}

nav > ul > li {
    padding: 0 0.5rem 0;
}

#nav-header {
    text-decoration: none;
}

.tech, .timeline {
    font-style: italic;
}

.section {
    margin: 2rem;
    display: none;
    flex-direction: column;
}

.selected {
    display: flex;
}

.unselected {
    display: none;
}